{% extends "base.html" %}

{% block content %}

<section class="section dashboard-section">

    <h2>Admin Dashboard</h2>
    <p class="dashboard-role">
        Logged in as:
        <strong>{{ role|capitalize }} Admin</strong>
    </p>

    <div class="dashboard-grid">

        <!-- SUPER ADMIN -->
        {% if role == "super" %}
        <div class="dashboard-card">
            <h3>EEA Description</h3>
            <p>Edit association overview content.</p>
            <a href="/admin/eea-description" class="login-btn">
                Manage
            </a>

        </div>

        <div class="dashboard-card">
            <h3>Contact & Footer</h3>
            <p>Update contact details and footer.</p>
            <a href="/admin/contact-footer" class="login-btn">
                Manage
            </a>

        </div>

        <div class="dashboard-card">
            <h3>Security Settings</h3>
            <p>Change master & role passwords.</p>
            <a href="/admin/security" class="login-btn">
                Manage
            </a>

        </div>

        <div class="dashboard-card">
            <h3>Upcoming Event</h3>
            <p>Enable / disable and update event info.</p>
            <a href="/admin/upcoming-event" class="login-btn">Manage</a>

        </div>

        <div class="dashboard-card">
            <h3>Content Admin Dashboard</h3>
            <p>Manage EEA members and gallery content.</p>
            <a href="/admin/switch/content" class="login-btn">
                Enter
            </a>
        </div>

        <div class="dashboard-card">
            <h3>Event Admin Dashboard</h3>
            <p>Manage activities and announcements.</p>
            <a href="/admin/switch/event" class="login-btn">
                Enter
            </a>
        </div>

        {% endif %}

        <!-- CONTENT ADMIN -->
        {% if role in "content" %}
        <div class="dashboard-card">
            <h3>EEA Members</h3>
            <p>Add or update association members.</p>
            <a href="/admin/members" class="login-btn">Manage</a>

        </div>

        <div class="dashboard-card">
            <h3>Gallery</h3>
            <p>Upload and organize event images.</p>
            <a href="{{ url_for('manage_gallery') }}" class="login-btn">
                Manage Gallery
            </a>

        </div>
        {% endif %}

        <!-- EVENT ADMIN -->
        {% if role in "event" %}
        <div class="dashboard-card">
            <h3>Activities</h3>
            <p>Manage workshops, conferences & events.</p>
            <button disabled>Manage</button>
        </div>

        <div class="dashboard-card">
            <h3>Upcoming Event</h3>
            <p>Enable / disable and update event info.</p>
            <a href="/admin/upcoming-event" class="login-btn">Manage</a>

        </div>
        {% endif %}

    </div>

    <div class="dashboard-logout">
        <a href="/logout">Logout</a>
    </div>

</section>

{% endblock %}