{% extends "base.html" %}
{% block content %}

<section class="section">
    <h2>Edit EEA Description</h2>
    <p style="margin-bottom: 25px;">
        Update association title and description shown on the home page.
    </p>

    <form method="POST" class="form-card">

        <div class="form-group">
            <label>EEA Title</label>
            <input type="text"
                   name="title"
                   value="{{ eea.title }}"
                   required>
        </div>

        <div class="form-group">
            <label>EEA Description</label>
            <textarea name="content"
                      rows="5"
                      required>{{ eea.content }}</textarea>
        </div>

        <button type="submit" class="login-btn">
            Save Changes
        </button>

    </form>
</section>

{% endblock %}
