{% extends "base.html" %}
{% block content %}

<section class="page-hero">
    <h1>Gallery</h1>
    <p>Moments captured from EEA events and activities</p>
</section>

<section class="section gallery-grid">

    {% for g in galleries %}
    <a href="{{ url_for('view_gallery', gallery_id=g.id) }}">

       class="gallery-card">

        <img src="{{ url_for('static',
            filename='uploads/gallery/thumbnails/' + g.thumbnail) }}"
             alt="{{ g.title }}">

        <h3>{{ g.title }}</h3>
    </a>
    {% else %}
    <p>No gallery events available.</p>
    {% endfor %}

</section>

{% endblock %}

