{% extends "base.html" %}

{% block content %}

<!-- HERO -->
<section class="page-hero">
    <h1>Upcoming Events</h1>
    <p>
        Stay updated with upcoming workshops, symposiums,
        conferences, and flagship EEA events
    </p>
</section>

<section class="section upcoming-section">

    <!-- EVENT CARD -->
    <div class="upcoming-card">
        <div class="event-details">
            <h2>{{ upcoming_event.title }}</h2>

            <p class="event-date">
                📅 {{ upcoming_event.date }}
            </p>

            <p class="event-desc">
                {{ upcoming_event.description }}
            </p>


            <a href="https://event-management-website-syvb.onrender.com" target="_blank" class="event-btn">
                Visit Event Website →
            </a>
        </div>
    </div>

</section>

{% endblock %}